.cart-container {
    width: 50rem;
    display: flex;
    flex-direction: column;
}
.cart-title {
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 1rem;
}
.cart-subtitle {
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    color: #ADADAD;
    margin-bottom: 1rem;
}
.cart-subtitle span {
    padding: 0 1rem;
}


.cart-submit li {
    padding: 1rem 0;
    display: flex;
}
.cart-submit li label {
    font-size: 20px;
    margin-right: 1rem;
    padding: 0.5rem 0;
    width: 6rem;
}
.cart-submit li input {
    border: 1px solid #D9D9D9;
    padding: 0.5rem 1rem;
    font-size: 15px;
}
#id_user_message {
    width: 34rem;
}

.list-title {
    font-size: 23px;
    font-weight: 500;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid black;
    margin-top: 3rem;
}
.list-subtitle {
    margin: 1rem 0;
}
.inputs {
    margin-bottom: 1rem;
}
.inputs input {
    color: black;
    background-color: white;
    border: 1px solid #ADADAD;  
    width: 100%;
    padding: 1rem 2rem;
    text-align: start;
    border-bottom: none;
}
.inputs_item:hover {
    background-color: black;
    color: white;
}

.inputs_item.active {
    background-color: black;
    color: white; 
}

.cart-button {
    color: white;
    background-color: black;
    border: 1px solid #ADADAD;  
    width: 100%;
    padding: 1rem 2rem;
    margin-top: 3rem;
    text-align: start;
}
.cart-button:hover {
    transition: 0.3s;
    background-color: #5d5d5d;
}



/* cart */
.cart-items {
    margin-top: 5rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
.item-header {
    display: flex;
    justify-content: space-evenly;
    border-top: 1px solid #ADADAD
}
.item-header div {
    padding: 1.5rem 0;
    font-size: 0.9rem;
    font-weight: 600;
}
.del-btns {
    display: flex;
    justify-content: end;
    margin-bottom: 0.5rem;
}
.del-btn {
    color: black;
    font-size: 0.8rem;
    margin-right: 0.5rem;

}
.item-header div:nth-child(1) {
    width: 11rem;
}
.cart-item {
    border-top: 1px solid #ADADAD;
    border-bottom: 1px solid #ADADAD;
    padding: 3rem 0;
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}
.cart-money-header {
    padding: 1rem 0;
    border-top: 1px solid black;
    border-bottom: 1px solid #ADADAD;
    font-size: 0.9rem;
    font-weight: 500;
}
.money {
    display: flex;
    justify-content: space-evenly;
    padding: 2rem 0;
    border-bottom: 1.5px solid black;
    margin-bottom: 5rem;
}

.nextbtn {
    display: flex;
    justify-content: space-evenly;
}
.nextbtn div a {
    text-decoration: none;
    padding: 1rem 3rem;
    border: 1px solid black;
}

@media (max-width: 767px) {
    .cart-container {
        width: 100%;

    }
    #id_user_message {
        width: 20rem;
    }
    main {
        margin: 0;
        margin-top: 8rem;
    }
    .cart-deliver, .cart-item, .cart-pay {
        margin: 0 0.3rem;
    }
    .cart-button {
        margin-top: 1rem;
        margin-bottom: 3rem;
    }
}