[Unit]
Description=uWSGI service
After=syslog.target

[Service]
ExecStart= /home/ubuntu/nerve/website_django/myvenv/bin/uwsgi -i /home/ubuntu/nerve/website_django/.config/uwsgi/config.ini

Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target