{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nerve</title>
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
    <link rel="stylesheet" href="{% static 'css/myprofile.css' %}">
    <link rel="stylesheet" href="{% static 'css/brandstory.css' %}">
</head>
<body>
    <nav>
        <span class="nav-left">
            <div class="logo-container"><a href=""><img src="{% static 'img/logo_nerve_black.svg' %}" alt=""></a></div>
            <div>
                <span><a href="../product/brandstory">BRAND STORY</a></span>
                <span><a href="../product/redpill">RED PILL</a></span>
                <span><a href="../product/bluepill">BLUE PILL</a></span>
            </div> 
        </span>
        <span class="nav-right">
            <div>
                <div>
                    <span>{% if user.is_authenticated %}
                        <a href="{% url 'logout' %}">LOGOUT</a>
                      {% else %}
                        <a href="{% url 'login' %}">로그인</a>
                        <span><a href="{% url 'signup' %}">회원가입</a></span>
                      {% endif %}
                </div> 
                {% if user.is_authenticated %}
                <div class="profile-section">
                    <!-- <span>내 프로필</span>
                    <span><p>유저 정보: {{ user.username }}</p></span> -->
                    <!-- 추가 프로필 정보 표시 -->
                    <span><a href="{% url 'myprofile' %}">MY PAGE</a></span>
                </div>
                {% endif %}
            </div>   
        </span>
    </nav>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <div class="footer-text">
            <div>
                <div>
                    <span><a href="https://www.instagram.com/nervekorea/">Instagram</a></span>
                    <span><a href="https://www.instagram.com/nervekorea/">Contact</a></span>
                </div>
                <div>Nervekorea@gmail.com</div>
            </div>
            <div>
                <div>Nerve.</div>
                <div>@ 2023</div>
            </div>
            <div>
                <div>145, Anam-ro, Seongbuk-gu, Seoul,</div>
                <div>Republic of Korea</div>
            </div>
        </div>
    </footer>
    <script src="{% static 'js/index.js' %}"></script>
    <script src="https://kit.fontawesome.com/58e1f810db.js" crossorigin="anonymous"></script>
</body>
</html>