{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nerve</title>
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
    <link rel="stylesheet" href="{% static 'css/myprofile.css' %}">
    <link rel="stylesheet" href="{% static 'css/brandstory.css' %}">
    <link rel="stylesheet" href="{% static 'css/cart.css' %}">
    <script src="https://kit.fontawesome.com/58e1f810db.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav>
        <span class="nav-left">
            <div class="logo-container"><a href="../"><img src="{% static 'img/logo_nerve_black.svg' %}" alt=""></a></div>
            <div class="not-logo">
                <span><a href="../product/brandstory">BRAND STORY</a></span>
                <span><a href="../product/redpill">RED PILL</a></span>
                <span><a href="../product/bluepill">BLUE PILL</a></span>
            </div> 
        </span>
        <span class="nav-right">
            <div class="nav-right-content">
                <div>
                    {% if user.is_authenticated %}
                    <span><a href="{% url 'logout' %}">LOGOUT</a></span>
                      {% else %}
                    <span><a href="{% url 'login' %}">LOGIN</a></span>
                    <span><a href="{% url 'signup' %}">JOIN US</a></span>
                    {% endif %}
                </div>
                <div>
                    {% if user.is_authenticated %}
                    <span><a href="{% url 'myprofile' %}">MY PAGE</a></span>
                    <span><a href="{% url 'cart' %}">CART</a></span>
                    {% endif %}
                </div>
            </div>
            <div class="burger">
                <i class="fa-solid fa-bars"></i>
            </div>
            <ul class="nav-mobile">
                <li class="nav-mobile-item"><a href="../product/brandstory">BRAND STORY</a></li>
                <li class="nav-mobile-item"><a href="../product/redpill">RED PILL</a></li>
                <li class="nav-mobile-item"><a href="../product/bluepill">BLUE PILL</a></li>
                
                {% if user.is_authenticated %}
                <li class="nav-mobile-item"><a href="{% url 'logout' %}">LOGOUT</a></li>
                {% else %}
                <li class="nav-mobile-item"><a href="{% url 'login' %}">LOGIN</a></li>
                <li class="nav-mobile-item"><a href="{% url 'signup' %}">JOIN US</a></li>
                {% endif %}
                {% if user.is_authenticated %}
                <li class="nav-mobile-item"><a href="{% url 'myprofile' %}">MY PAGE</a></li>
                <li class="nav-mobile-item"><a href="{% url 'cart' %}">CART</a></li>
                {% endif %}
            </ul>
        </span>
    </nav>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <div class="footer-text">
            <div>
                <div style="margin-bottom: 0.5rem;">nervekorea.com all rights reserved.</div>
                <div style="color:#ADADAD">
                    <div style="margin-bottom: 0.3rem;">(주)너브코리아  서울특별시 성북구 안암동5가 50-1, 파이빌 303호</div>
                    <div>대표이사: 이은석</div>
                </div>
            </div>
            <div>
                <div>
                    <img style="color: white;" src="{% static 'img/logo_nerve_white.svg' %}" alt="">
                </div>
                <div>
                    <span><a href="https://www.instagram.com/nervekorea/">Instagram</a></span>
                    <span><a href="https://www.instagram.com/nervekorea/">Contact</a></span>
                </div>

            </div>
        </div>
    </footer>
    <script src="{% static 'js/index.js' %}"></script>
    <script src="https://kit.fontawesome.com/58e1f810db.js" crossorigin="anonymous"></script>
    <script>
        const navbarMenu = document.querySelector('.nav-mobile');
        const navbarToggleBtn = document.querySelector('.burger');
        navbarToggleBtn.addEventListener('click', () => {
            navbarMenu.classList.toggle('open');
        });
    </script>
</body>
</html>