<div class="cart-container" style="margin-top: 5rem;">
    <div class="cart-title">CART</div>
    <div class="cart-subtitle">
        <span style="color: black">01 장바구니</span><span> > </span><span>02 주문서 작성</span><span> > </span><span>03 주문완료</span>
    </div>
    <div class="cart-deliver">

    </div>
    <div class="cart-item">
        <div class="list-title">주문상품</div>
        <div class="list-table">
            <div>주문상품</div>
            <div>수량</div>
            <div>주문금액</div>
            <div>배송비</div>
        </div>
        <div>
            <div>총 주문상품 n개</div>
            <div>얼마</div>
        </div>
    </div>

    <div><a href="{% url 'cart' %}">주문하기</a></div>
</div>