{% extends "base.html" %}

{% block content %}
{% load static %}
    <div class="cart-container">
        <div class="cart-title">CART</div>
        <div class="cart-subtitle">
            <span style="color: black">01 장바구니</span><span> > </span><span>02 주문서 작성</span><span> > </span><span>03 주문완료</span>
        </div>  
        <div class="cart-items">
            <!-- <div class="del-btns">
                <span><a class="del-btn" href="">전체삭제</a></span>
                <span><a class="del-btn" href="">선택삭제</a></span>
            </div> -->
        <form method="POST" action="../cart/">
            {% csrf_token %}
            <table class="item-table">
                <tr class="item-header">
                    <td>주문상품</td>
                    <td>수량</td>
                    <td>주문금액</td>
                </tr>
                <tr class="cart-item-cart">
                    <td class="cart-item1">
                        <div class="cart-img-container"><img style="width: 100%;" src="{% static 'img/redpill_img.png' %}" alt=""></div>
                        <div class="cart-sen-container">
                            <div class="cart-sen-title">레드필 RED PILL</div>
                            <div style="margin-top: 0.3rem;">60 TABLETS / 350mg</div> 
                        </div>
                    </td>
                    <td style="display: flex; justify-content: center; align-items: center; border-right: 1px solid #ADADAD; padding: 0 1rem;">
                        <button type="button" id="minusBtn_red">-1</button>
                        <input type="number" readonly id="redpill_quantity" name="redpill_quantity" value="{{ redpill_quantity }}" style="width: 2.5rem; margin-bottom: 0; padding: 0.1rem 0; text-align: center;">
                        <button type="button" id="plusBtn_red">+1</button>
                    </td>
                    <td class="redtotalcost" style="display: flex; justify-content: space-around;">0원</td>
                </tr>
                <tr class="cart-item-cart" style="margin-bottom: 4rem; border-bottom: 1px solid #ADADAD;">
                    <td class="cart-item1">
                        <div class="cart-img-container"><img style="width: 100%;" src="{% static 'img/bluepill_img.png' %}" alt=""></div>
                        <div class="cart-sen-container">
                            <div class="cart-sen-title">블루필 BLUE PILL</div>
                            <div style="margin-top: 0.3rem;">60 TABLETS / 350mg</div> 
                        </div>
                    </td>
                    <td style="display: flex; justify-content: center; align-items: center; border-right: 1px solid #ADADAD;  padding: 0 1rem;">
                        <button type="button" id="minusBtn_blue">-1</button>
                        <input type="number" readonly id="bluepill_quantity" name="bluepill_quantity" value="{{ bluepill_quantity }}" style="width: 2.5rem; margin-bottom: 0; padding: 0.1rem 0; text-align: center;">
                        <button type="button" id="plusBtn_blue">+1</button>
                    </td>
                    <td class="bluetotalcost" style="display: flex; justify-content: space-around;">0원</td>
                </tr>
            </table>
            </div>
                <div class="cart-money">
                    <div class="cart-money-header">총 주문상품 0개</div>
                    <div class="money">
                        <div>
                            <div id="lastTotalcost" class="cart-num">0원</div> 
                            <div class="cart-sen">상품금액</div>
                        </div>
                        <div>+</div>
                        <div>
                            <div class="cart-num">3,000원</div> 
                            <div class="cart-sen">배송비</div>
                        </div> 
                        <div>=</div>
                        <div>
                            <div id="paycost" class="cart-num">0원</div> 
                            <div class="cart-sen">총 주문금액</div>
                        </div>
                    </div>
                </div>
                <div class="nextbtn" style="margin-bottom: 3rem;">
                    <!-- <div><a style="color:black" href="" onclick="btnAlert('담긴 상품이 없습니다.')">선택상품주문</a></div> -->
                    <button type="submit" style="color: white; background-color: black; border: none; cursor: pointer; padding: 1rem 4rem;">
                        전체상품주문
                    </button>
        </form>    
        </div>
    
    <script>
        // +1 버튼을 클릭할 때 수량 증가
        document.getElementById('plusBtn_red').addEventListener('click', function () {
            var redpill_quantity = document.getElementById('redpill_quantity');
            redpill_quantity.value = parseInt(redpill_quantity.value) + 1;
        });

        // -1 버튼을 클릭할 때 수량 감소
        document.getElementById('minusBtn_red').addEventListener('click', function () {
            var redpill_quantity = document.getElementById('redpill_quantity');
            var currentValue = parseInt(redpill_quantity.value);
            if (currentValue >= 1) {
                redpill_quantity.value = currentValue - 1;
            }
        });
    </script>
    <script>
        // +1 버튼을 클릭할 때 수량 증가
        document.getElementById('plusBtn_blue').addEventListener('click', function () {
            var bluepill_quantity = document.getElementById('bluepill_quantity');
            bluepill_quantity.value = parseInt(bluepill_quantity.value) + 1;
        });

        // -1 버튼을 클릭할 때 수량 감소
        document.getElementById('minusBtn_blue').addEventListener('click', function () {
            var bluepill_quantity = document.getElementById('bluepill_quantity');
            var currentValue = parseInt(bluepill_quantity.value);
            if (currentValue >= 1) {
                bluepill_quantity.value = currentValue - 1;
            }
        });
    </script>
    

<script>
    function btnAlert(sample) {
        alert(sample);
    }
</script>
<script>
let redplus = document.querySelector("#plusBtn_red");
let redminus = document.querySelector("#minusBtn_red");
let redresult = document.querySelector("#redpill_quantity");
let redtotalcost = document.querySelector(".redtotalcost");
let i = parseInt(redresult.value);
let redtotalcostNum = i*39000;
redtotalcost.textContent = "₩" +redtotalcostNum.toLocaleString();

let blueplus = document.querySelector("#plusBtn_blue");
let blueminus = document.querySelector("#minusBtn_blue");
let blueresult = document.querySelector("#bluepill_quantity");
let bluetotalcost = document.querySelector(".bluetotalcost");
let e = parseInt(blueresult.value);
let bluetotalcostNum = e*39000;
bluetotalcost.textContent = "₩" +bluetotalcostNum.toLocaleString();

    // redpill +,- 가격 적용


redplus.addEventListener("click", () => {
    i++
    redresult.textContent = i;
    let redtotalcostNum = i*39000;
    redtotalcost.textContent = "₩" + redtotalcostNum.toLocaleString();
    TotalcostCal();
});
redminus.addEventListener("click", () => {
    if(i > 0 ) {
        i--
        redresult.textContent = i;
        let redtotalcostNum = i*39000;
        redtotalcost.textContent = "₩" + redtotalcostNum.toLocaleString();
    }else {
        redtotalcost.textContent = "₩" + 0
    }
    TotalcostCal();
})

// bluepill +,- 가격 적용
blueplus.addEventListener("click", () => {
    e++
    blueresult.textContent = e;
    let bluetotalcostNum = e*39000;
    bluetotalcost.textContent = "₩" + bluetotalcostNum.toLocaleString();
    TotalcostCal();
});
blueminus.addEventListener("click", () => {
    if(e > 0 ) {
        e--
        blueresult.textContent = e;
        let bluetotalcostNum = e*39000;
        bluetotalcost.textContent = "₩" + bluetotalcostNum.toLocaleString();
        
    }else {
        bluetotalcost.textContent = "₩" + 0
    }
    TotalcostCal();

})


let Totalcost = document.querySelector("#lastTotalcost"); 
let Paycost = document.querySelector("#paycost");
function TotalcostCal() {
    let redtotalcostNum = i*39000;
    let bluetotalcostNum = e*39000;
    TotalcostNum = redtotalcostNum + bluetotalcostNum;
    Totalcost.textContent = TotalcostNum.toLocaleString() + "원";
    Paycost.textContent = (TotalcostNum + 3000).toLocaleString() + "원";
}
TotalcostCal();



</script>
{% endblock %}