{% extends "base.html" %}

{% block content %}
{% load static %}
<div class="cart-container" style="margin-top: 5rem;">
    <div class="cart-title">CART</div>
    <div class="cart-subtitle">
        <span>01 장바구니</span><span> > </span><span style="color: black">02 주문서 작성</span><span> > </span><span>03 주문완료</span>
    </div>
    <div class="cart-deliver">
        <form method="POST" id="cart-form">
            {% csrf_token %}
            <div class="list-title">배송지</div>
            <ul class="cart-submit">
                <li>
                    <label for="id_user_id">받는 사람</label>
                    <input style="width: 7rem;" type="text" name="user_name" maxlength="40" required="" id="id_user_id">
                </li>
                <li>
                    <label for="id_user_name">주소</label>
                    <span>
                        <input type="text" id="sample4_postcode" placeholder="우편번호">
                        <input type="button" onclick="sample4_execDaumPostcode()" value="우편번호 검색"><br><br>
                        <input type="text" id="sample4_roadAddress" placeholder="도로명주소">
                        <input type="text" id="sample4_jibunAddress" placeholder="지번주소">
                        <span id="guide" style="color:#999;display:none"></span>
                        <input type="text" id="sample4_detailAddress" placeholder="상세주소"><br><br>
                        <input type="text" id="sample4_extraAddress" placeholder="참고항목">
                    </span>
                </li>
                <li>
                    <label for="id_phone_number">휴대전화</label>
                    <input type="text" name="phone_number" maxlength="13" required="" id="id_phone_number">
                </li>
                <li>
                    <label for="id_user_message">메세지 입력</label>
                    <input type="text" name="" maxlength="10" required="" id="id_user_message">
                </li>
            </ul>
        </form>
    </div>
    <div class="cart-item">
        <div class="list-title">주문상품</div>
        <div class="list-table">
            <div>주문상품</div>
            <div>수량</div>
            <div>주문금액</div>
            <div>배송비</div>
        </div>
        <div>
            <div>총 주문상품 n개</div>
            <div>.</div>
        </div>
    </div>

    <div><button class="cart-button" type="submit">결제하기</button></div>
</div>
{% endblock %}