<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nerve</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <script src="https://kit.fontawesome.com/58e1f810db.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="global-wrap">
        <nav>
            <span class="nav-left">
                <div class="logo-container"><a href="/"><img src="{% static 'img/logo_nerve_black.svg' %}" alt=""></a></div>
                <div class="not-logo">
                    <span><a href="{% url 'brandstory' %}">BRAND STORY</a></span>
                    <span><a href="{% url 'redpill' %}">RED PILL</a></span>
                    <span><a href="{% url 'bluepill' %}">BLUE PILL</a></span>
                </div> 
            </span>
            <span class="nav-right">
                <div class="nav-right-content">
                    <div>
                        {% if user.is_authenticated %}
                        <span><a href="{% url 'logout' %}">LOGOUT</a></span>
                          {% else %}
                        <span><a href="{% url 'login' %}">LOGIN</a></span>
                        <span><a href="{% url 'signup' %}">JOIN US</a></span>
                        {% endif %}
                    </div>
                    <div>
                        {% if user.is_authenticated %}
                        <span><a href="{% url 'myprofile' %}">MY PAGE</a></span>
                        <span><a href="{% url 'cart' %}">CART</a></span>
                        {% endif %}
                    </div>
                </div>
                <div class="burger">
                    <i class="fa-solid fa-bars"></i>
                </div>
                <ul class="nav-mobile">
                    <li class="nav-mobile-item"><a href="{% url 'brandstory' %}">BRAND STORY</a></li>
                    <li class="nav-mobile-item"><a href="{% url 'redpill' %}">RED PILL</a></li>
                    <li class="nav-mobile-item"><a href="{% url 'bluepill' %}">BLUE PILL</a></li>
                    
                    {% if user.is_authenticated %}
                    <li class="nav-mobile-item"><a href="{% url 'logout' %}">LOGOUT</a></li>
                    {% else %}
                    <li class="nav-mobile-item"><a href="{% url 'login' %}">LOGIN</a></li>
                    <li class="nav-mobile-item"><a href="{% url 'signup' %}">JOIN US</a></li>
                    {% endif %}
                    {% if user.is_authenticated %}
                    <li class="nav-mobile-item"><a href="{% url 'myprofile' %}">MY PAGE</a></li>
                    <li class="nav-mobile-item"><a href="{% url 'cart' %}">CART</a></li>
                    {% endif %}
                </ul>
            </span>
        </nav>
        <main>
            <div class="main-container">
                <div class="main-section1-add">
                    <div class="main-section1-img fade">
                        <img src="{% static 'img/main_main1.png' %}" alt="">
                        <div><a href="{% url 'brandstory' %}">브랜드스토리 보러가기</a><i class="fa-solid fa-arrow-right"></i></div>
                    </div>
                    <div class="main-section1-img fade">
                        <img src="{% static 'img/main_main2.png' %}" alt="">
                        <div><a href="{% url 'redpill' %}">레드필 보러가기</a><i class="fa-solid fa-arrow-right"></i></div>
                    </div>
                    <div class="main-section1-img fade">
                        <img src="{% static 'img/main_main3.png' %}" alt="">
                        <div><a href="{% url 'bluepill' %}">블루필 보러가기</a><i class="fa-solid fa-arrow-right"></i></div>
                    </div>
                </div>
                <div class="banner-wrap">
                    <div class="banner1">
                        <div class="flow-text">
                            <div class="flow-wrap">
                                <span>GET BETTER</span>
                                <span>NUTRITION.</span>
                            </div>
                            <div class="flow-wrap">
                                <span>WE MAKE</span>
                                <span>CULTURE.</span>
                            </div>
                            <div class="flow-wrap">
                                <span>GET BETTER</span>
                                <span>NUTRITION.</span>
                            </div>
                            <div class="flow-wrap">
                                <span>WE MAKE</span>
                                <span>CULTURE.</span>
                            </div>
                        </div> 
                    </div>
                </div>
                
                <div class="main-section2-brandstory">
                    <div class="main-section2-header">
                        <div class="main-section2-header-title">
                            <div>FOR YOUNG PROFESSIONALS</div>
                            <div>사회초년생들의 미래를 위한 영양제 브랜드, NERVE</div>
                        </div>
                    </div>
                    <div class="main-section2-main">
                        <table>
                            <tr>
                                <td><img src="{% static 'img/bs1.png' %}" style="width: 20rem; margin-right: 1.5rem;" alt=""></td>
                                <td><img src="{% static 'img/bs2.png' %}" style="width: 20rem; margin-right: 1.5rem;" alt=""></td>
                                <td><img src="{% static 'img/bs3.png' %}" style="width: 20rem;" alt=""></td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="section2-img-text">
                                        <div>ONLY FOR<br>BORN IN 1990~2000</div>
                                        <div>미래를 위해 갓생을 살고 있는<br>20대 중반부터 30대 초반을 위한<br>영양제 브랜드 NERVE입니다.</div>
                                    </div>
                                </td>
                                <td>
                                    <div class="section2-img-text">
                                        <div>EASY FOR<br>SWALLOW</div>
                                        <div>입문자도 삼키기 쉽게 만들었으며,<br>바쁘게 사는 2030만을 위한<br>영양성분 구성을 하였습니다.</div>
                                    </div>
                                </td>
                                <td>
                                    <div class="section2-img-text">
                                        <div>QUALITY BY<br>PROFESSIONALS</div>
                                        <div>NERVE와 함께 하는 현업 전문가와<br>약사 분들이 같이 기획하고 제조합니다.</div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="main-secion2-mobile">
                        <div class="section-mobile-img">
                            <img id="imgSlide" src="{% static 'img/bs1.png' %}" alt="">
                            <div class="playbut-container">
                                <button class="playbut" onclick="next();"><i class="fa-solid fa-play fa-rotate-180"></i></button>
                                <button class="playbut" onclick="prev();"><i class="fa-solid fa-play"></i></button>
                            </div>
                            <div class="slide-sen">
                                <div class="slide-sen1">ONLY FOR BORN IN 1990~2000</div>
                                <div class="slide-sen2">미래를 위해 갓생을 살고 있는<br>20대 중반부터 30대 초반을 위한<br>영양제 브랜드 NERVE입니다.</div>
                            </div>
                        </div>

                    </div>
                    <a href="{% url 'brandstory' %}" class="a-button">브랜드 스토리 보러가기</a>
                </div>
                <div class="main-section3-ourwork">
                    <div class="main-section3-header">
                        <div class="main-section3-header-title">
                            <div>OUR WORK</div>
                            <div>사회초년생의 미래를 위한 영양제 브랜드 NERVE</div>
                        </div>
                    </div>
                    <div class="main-section3-main">
                        <table>
                            <tr>
                                <td><img src="{% static 'img/main_woman1.png' %}" style="width: 30rem; margin-right: 1.5rem;" alt=""></td>
                                <td><img src="{% static 'img/main_man1.png' %}" style="width: 30rem; " alt=""></td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="section3-img-text">
                                        <div class="color-tag-a">
                                            <div >#종합비타민</div>
                                            <div>#미네랄</div>
                                        </div>
                                        <div style="font-weight: 700; font-size: 21px; margin-bottom: 0.5rem;"><span>레드필</span> <span>RED PILL</span></div>
                                        <div style="font-weight: 600; font-size: 14px; margin-bottom: 1rem;">ENERGY SUPPORT& BALANCED VITAMIN</div>
                                        <div style="font-size: 13px;">60 TABLETS / 350mg</div>
                                    </div>
                                </td>
                                <td>
                                    <div class="section3-img-text">
                                        <div class="color-tag-b">
                                            <div>#마그네슘</div>
                                            <div>#기능 유지</div>
                                        </div>
                                        <div style="font-weight: 700; font-size: 21px; margin-bottom: 0.5rem;"><span>블루필</span> <span>BLUE PILL</span></div>
                                        <div style="font-weight: 600; font-size: 14px; margin-bottom: 1rem;">HEALTHY NERVE FUNCTION MAGNESIUM</div>
                                        <div style="font-size: 13px;">60 TABLETS / 350mg</div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="main-section3-mobile">
                        <img src="{% static 'img/main_woman1.png' %}" style="width: 100%;" alt="">
                        <div class="section3-img-text">
                            <div class="color-tag-a">
                                <div >#종합비타민</div>
                                <div>#미네랄</div>
                            </div>
                            <div style="font-weight: 700; font-size: 21px; margin-bottom: 0.5rem;"><span>레드필</span> <span>RED PILL</span></div>
                            <div style="font-weight: 600; font-size: 14px; margin-bottom: 1rem;">ENERGY SUPPORT& BALANCED VITAMIN</div>
                            <div style="font-size: 13px;">60 TABLETS / 350mg</div>
                        </div>
                        <img src="{% static 'img/main_man1.png' %}" style="width: 100%; " alt="">
                        <div class="section3-img-text">
                            <div class="color-tag-b">
                                <div>#마그네슘</div>
                                <div>#기능 유지</div>
                            </div>
                            <div style="font-weight: 700; font-size: 21px; margin-bottom: 0.5rem;"><span>블루필</span> <span>BLUE PILL</span></div>
                            <div style="font-weight: 600; font-size: 14px; margin-bottom: 1rem;">HEALTHY NERVE FUNCTION MAGNESIUM</div>
                            <div style="font-size: 13px;">60 TABLETS / 350mg</div>
                        </div>
                    </div>

                </div>
                <div class="section4">
                    <div class="section4-header">
                        <div>JOIN US IN INSTAGRAM</div>
                        <div><a href="https://www.instagram.com/nervekorea/">@nervekorea</a></div>
                    </div>
                    <div class="section4-wrap"> 
                        <div><img src="{% static 'img/insta1.png' %}" alt=""></div>
                        <div><img src="{% static 'img/insta2.png' %}" alt=""></div>
                        <div><img src="{% static 'img/insta3.png' %}" alt=""></div>
                        <div><img src="{% static 'img/insta4.png' %}" alt=""></div>
                        <div><img src="{% static 'img/insta5.png' %}" alt=""></div>
                    </div>
                    <div class="section4-wrap-mobile"> 
                        <div class="section4-img fade"><img src="{% static 'img/insta1.png' %}" alt=""></div>
                        <div class="section4-img fade"><img src="{% static 'img/insta2.png' %}" alt=""></div>
                        <div class="section4-img fade"><img src="{% static 'img/insta3.png' %}" alt=""></div>
                        <div class="section4-img fade"><img src="{% static 'img/insta4.png' %}" alt=""></div>
                        <div class="section4-img fade"><img src="{% static 'img/insta5.png' %}" alt=""></div>
                    </div>

                </div>
                
                <!-- <div class="banner2">
                    <div class="flow-text banner2-flow">
                        <div class="flow-wrap">
                            <span>This is no longer anxiety.</span>
                            <span>It is courage for the future.</span>
                        </div>
                        <div class="flow-wrap">
                            <span>This is no longer anxiety.</span>
                            <span>It is courage for the future.</span>
                        </div>
                        <div class="flow-wrap">
                            <span>This is no longer anxiety.</span>
                            <span>It is courage for the future.</span>
                        </div>
                        <div class="flow-wrap">
                            <span>This is no longer anxiety.</span>
                            <span>It is courage for the future.</span>
                        </div>
                        <div class="flow-wrap">
                            <span>This is no longer anxiety.</span>
                            <span>It is courage for the future.</span>
                        </div>
                        <div class="flow-wrap">
                            <span>This is no longer anxiety.</span>
                            <span>It is courage for the future.</span>
                        </div>
                    </div> 
                </div> -->
            </div>
       
        </main>
        <footer>
            <div class="footer-text">
                <div>
                    <div style="margin-bottom: 0.5rem;">nervekorea.com all rights reserved.</div>
                    <div style="color:#ADADAD">
                        <div style="margin-bottom: 0.3rem;">(주)너브코리아  서울특별시 성북구 안암동5가 50-1, 파이빌 303호</div>
                        <div>대표이사: 이은석</div>
                    </div>
                </div>
                <div>
                    <div>
                        <img style="color: white;" src="{% static 'img/logo_nerve_white.svg' %}" alt="">
                    </div>
                    <div>
                        <span><a href="https://www.instagram.com/nervekorea/">Instagram</a></span>
                        <span><a href="https://www.instagram.com/nervekorea/">Contact</a></span>
                    </div>
    
                </div>
            </div>
        </footer> 
    </div>
    <script src="{% static 'js/index.js' %}"></script>
    <script>

let imgSlide = document.querySelector("#imgSlide");
let imgList = ["{% static 'img/bs1.png' %}","{% static 'img/bs2.png' %}","{% static 'img/bs3.png' %}"];
let slidesen1 = document.querySelector(".slide-sen1");
let slidesen1List = ['ONLY FOR BORN IN 1990~2000', 'EASY FOR SWALLOW', 'QUALITY BY PROFESSIONALS'];
let slidesen2 = document.querySelector(".slide-sen2");
let slidesen2List = ['미래를 위해 갓생을 살고 있는<br>20대 중반부터 30대 초반을 위한<br>영양제 브랜드 NERVE입니다.', '입문자도 삼키기 쉽게 만들었으며,<br>바쁘게 사는 2030만을 위한<br>영양성분 구성을 하였습니다.', 'NERVE와 함께 하는 현업 전문가와<br>약사 분들이 같이 기획하고 제조합니다.']
let i = 0;

function prev(){ // 이전
    i--;
    imgSlide.src = imgList[i];
    slidesen1.textContent = slidesen1List[i];
    slidesen2.innerHTML = slidesen2List[i];
    if(i<0){
        i = imgList.length-1;
        imgSlide.src = imgList[i];
        slidesen1.textContent = slidesen1List[i];
        slidesen2.innerHTML = slidesen2List[i];
    }
    
};
function next(){ // 다음
    i++;
    imgSlide.src = imgList[i];
    slidesen1.textContent = slidesen1List[i];
    slidesen2.innerHTML = slidesen2List[i];
    if(i >= imgList.length){
        i = 0;
        imgSlide.src = imgList[i];
        slidesen1.textContent = slidesen1List[i];
        slidesen2.innerHTML = slidesen2List[i];
    }
};


const navbarMenu = document.querySelector('.nav-mobile');
const navbarToggleBtn = document.querySelector('.burger');
navbarToggleBtn.addEventListener('click', () => {
    navbarMenu.classList.toggle('open');
});
    </script>
</body>
</html>