<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <span class="nav-left">
            <div class="logo-container"><a href="../html/index.html"><img src="../img/logo_nerve_black.svg" alt=""></a></div>
            <div>
                <span><a href="../html/brandstory.html">BRAND STORY</a></span>
                <span><a href="../html/redpill.html">RED PILL</a></span>
                <span><a href="../html/bluepill.html">BLUE PILL</a></span>
            </div> 
        </span>
        <span class="nav-right">
            <div>
                <span><a href="">로그인</a></span>
                <span><a href="">회원가입</a></span>
            </div>   
        </span>
    </nav>
</body>
</html>