{% extends "base.html" %}

{% block content %} 
<form method="post">
  {% csrf_token %}
  <div class="password-input">
    <label for="new_password">새로운 비밀번호:</label>
    <input type="password" name="new_password" required>
  </div>
  <div style="margin: 1rem 0;" class="password-input">
    <label for="confirm_password">비밀번호 확인:</label>
    <input type="password" name="confirm_password" required>
  </div>
  <button class="btn" type="submit">비밀번호 변경</button>
</form>

<style>
    label {
        font-size: 1rem;
        margin-right: 0.5rem;
    }
    input {
        padding: 0.6rem 1.5rem;
    }
    .password-input {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .btn {
      background-color: white; 
      border: 1px solid black;
      padding: 0.6rem 1rem;
      float: right;
      
    }
    .btn:hover {
        background-color: black;
        color: white;
        transition: ease-in-out 0.3s;
    }
</style>
{% endblock %}