{% extends "base.html" %}

{% block content %}

<div>
    <label for="id_password2">* 비밀번호 확인</label>
    <input type="password" name="password2" required="" id="id_password2">
    <span id="password-error" class="error"></span>
</div>
<div>
    <li>
        <label for="id_password1">* 비밀번호</label>
        <input type="password" name="password1" required="" id="id_password1">
    </li>
    <li>
        <label for="id_password2">* 비밀번호 확인</label>
        <input type="password" name="password2" required="" id="id_password2">
        <span id="password-error" class="error"></span>
    </li>
</div>


{% endblock %}

