<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nerve</title>
    <link rel="stylesheet" href="{% static 'css/pill.css' %}">

</head>

<body>
    <div class="global-wrap">
        <nav>
            <span class="nav-left">
                <div class="logo-container"><a href="../templates/index.html"><img src="{% static 'img/logo_nerve_black.svg' %}" alt=""></a></div>
                <div>
                    <span><a href="../templates/brandstory.html">BRAND STORY</a></span>
                    <span><a href="../templates/redpill.html">RED PILL</a></span>
                    <span><a href="../templates/bluepill.html">BLUE PILL</a></span>

                </div>
            </span>
            <span class="nav-right">
                <div>
                    <span><a href="">로그인</a></span>
                    <span><a href="">회원가입</a></span>
                </div>
            </span>
        </nav>
        <main>
            <div>
                <!--  -->
            </div>
            <footer>
                <div class="footer-text">
                    <div>
                        <div>
                            <span><a href="">Instagram</a></span>
                            <span><a href="">Contact</a></span>
                        </div>
                        <div>Nervekorea@gmail.com</div>
                    </div>
                    <div>
                        <div>Nerve.</div>
                        <div>@ 2023</div>
                    </div>
                    <div>
                        <div>145, Anam-ro, Seongbuk-gu, Seoul,</div>
                        <div>Republic of Korea</div>
                    </div>
                </div> 
            </footer>        
        </main>
    </div>
    <script src="../js/pill.js"></script>
</body> 

</html>